.control-line {
  --label-width: 100px;

  display: flex;
  align-items: center;
  height: 30px;

  .label {
    font-size: 13px;
    width: var(--label-width);
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.card-header-title {
  font-weight: bold;
}
